*{

  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  
}
a{
  color:#333;
  text-decoration: none;
}
.container{
  padding: 0 1rem;
  width:90%;
  margin:auto;
}
.btn{
  display: inline;
  border:none;
  background: #5555;
  color:#fff;
  padding: 7px 10px;
  cursor: pointer;


}
.btn:hover{
  background: #666;
}
.add-form{
  width:60%;
  margin: 50px auto;

}
.header-link{
  color:#fff;
  padding:5px ;

}
.header-link:hover{
  color:#6f6f
}
.header h1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size:2em;
   margin-bottom: 15px;
   text-decoration: underline;
   padding:10px;
   text-transform: uppercase;
}